name: Test

on:
    pull_request:
        types: [opened, synchronize]
    workflow_dispatch:
    
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request'
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x
            - name: Build
              run: deno task release
            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: build
                  path: |
                      ./src/datex-core/datex_core_js.internal.js
                      ./src/datex-core/datex_core_js.wasm
                  retention-days: 5

    dev-test:
        name: Dev-test
        if: github.event_name == 'pull_request'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x
            - name: Dev-build
              run: |
                BRANCH="${{ github.head_ref }}"
                git clone --branch "$BRANCH" "https://github.com/unyt-org/datex-core.git" --single-branch
                git clone --branch "$BRANCH" "https://github.com/unyt-org/datex-core-js.git" --single-branch
                cd datex-core-js
                mv .cargo/config.template.toml .cargo/config.toml
                deno task build --no-opt
                deno task test-no-build

    test:
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request'
        name: Test
        needs: build
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./src/datex-core

            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Check formatting
              run: deno fmt --check

            - name: Lint
              run: deno lint

            - name: Type Checking
              run: deno check -I ./src ./test

            - name: Run Tests
              run: deno task test-no-build

    publish-jsr-dry-run:
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request'
        needs: build
        name: Publish to JSR (Dry Run)
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./src/datex-core
            - name: Publish package
              run: npx jsr publish --dry-run

    publish-npm-dry-run:
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request'
        needs: build
        name: Publish to NPM (Dry Run)
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
              with:
                  submodules: "true"
            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build
                  path: ./src/datex-core
            - name: Install Deno
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - uses: actions/setup-node@v4
              with:
                  node-version: "24.x"
                  registry-url: "https://registry.npmjs.org"

            - name: Build for NPM
              run: deno task build-npm

            - name: Publish to NPM
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: cd npm && npm publish --dry-run
